@import "../../styles/main";

.welcomeSection {
  //padding: 6rem 0;
  height: 80%;
  background: linear-gradient(to bottom, $color-primary 50%, $color-primary-light 100%);
  @include center-child;

  .title {
    text-transform: uppercase;
    color: $color-white;
    font-size: vw(30);
    line-height: vw(30);
    letter-spacing: .2rem;
  }

  .subtitle {
    margin-top: vw(10);
    font-size: vw(20);
    line-height: vw(20);
    color: $color-primary-dark;
    font-weight: 400;
  }

  .contacts {
    margin-top: vw(30);
  //  display: flex;
  //  justify-content: space-between;
  //
    &__item {
      font-size: $default-font-size;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: vw(10);
    }

    &__link {
      padding-left: vw(10);

      &:link,
      &:visited {
        font-size: vw(16);
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        transition: all .2s;
      }
    }
  }
}
